.app-containerjk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

h1 {
font-size: 4rem;
display: flex;
justify-content: center;
align-items: flex-start;
background-image: var(--gradient);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
animation: bounce 1s infinite;
}

:root {
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;

color-scheme: light dark;
color: rgba(255, 255, 255, 0.87);
background-image: radial-gradient(circle, rgb(3, 0, 0), rgb(22, 1, 1));

font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;

--gradient: linear-gradient(
  to right,
  rgb(255, 0, 0),
  rgb(255, 94, 0),
  rgb(255, 94, 0),
  rgb(255, 0, 0)
);
}

a {
font-weight: 500;
color: #ff6464;
text-decoration: inherit;
}

a:hover {
color: #535bf2;
}

body {
margin: 0;
display: flex;
place-items: center;
min-width: 50rem;
min-height: 50rem;
}

@keyframes bounce {
0%, 100% {
  transform: translateY(0rem);
}
50% {
  transform: translateY(0.3rem);
}
}


.containerrrjk{
width: 30rem;
overflow: hidden;
box-shadow: 0rem 0rem 0.3rem 0.3rem;
transition: 0.3s;
color:rgb(160, 2, 2);
border-radius: 1rem;
background-color: rgb(20, 0, 0);
animation: slide-from-bottom-to-top 4s forwards;
display: inline-block;
margin-right: 3rem;
height: 39.5rem;
}

.containerrrjk h2 {
font-size: 2rem;
margin-bottom: 2rem;
margin-top: 2rem;
color: white;
text-decoration: underline;
}

.input-groupjk {
display: flex;
flex-direction: column;
margin-bottom: 1rem;
}

.input-groupjk label {
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 1rem;
}

.input-groupjk input {
padding: 0.4rem;
margin-left: 1rem;
margin-right: 1rem;
box-shadow: 0rem 0rem 0.1rem 0.1rem;
color: rgb(255, 0, 0);
border: 0.3rem solid rgb(255, 0, 0);
font-size: 1rem;
}


.input-groupjk textarea {
  padding: 0.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0rem 0rem 0.1rem 0.1rem rgb(160, 2, 2);
  color: rgb(253, 250, 250);
  border: 0.4rem solid rgb(160, 2, 2);
  font-size: 1.4rem;
  min-height: 4rem;
  max-height: 4rem;
  min-width: 26.6rem;
  max-width: 26.6rem;
  background-color: transparent;
  }

.input-groupjk textarea:hover {
filter: drop-shadow(0 0 0.2rem rgb(231, 3, 3));
}


button1{
  padding: 0.5rem;
  background: rgb(77, 2, 2);
  border: 0.2rem solid rgb(160, 2, 2);
  transition: 0.2s;
  border-radius: 0.5rem;
}

button1:hover{
  filter: drop-shadow(0 0 0.4rem rgb(231, 3, 3));
}

plz1{
  font-size: 1.4rem;
  color: white;

}

pz {
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 0.1rem;
color: white;
margin-top: 0.1rem;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center; 
text-align: center; 
}

#nome::placeholder {
color: white;
font-size: 1rem; 
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#item::placeholder {
color: white;
font-size: 1rem; 
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#motivo::placeholder {
color: white;
font-size: 1rem; 
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#motivo {
background-color: transparent; 
border: 0.3rem solid rgb(160, 2, 2);
font-size: 1.4rem;
}
